<!--The content below is only a placeholder and can be replaced.-->

<div class="container"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">

  <div class="header" fxLayout="row" fxLayoutGap="10px">
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>

    <div class="side_left" fxFlex="15%"></div>
    <div class="side_center" fxFlex="15%"></div>
    <div class="side_right" fxFlex>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>people</mat-icon>
          <span mat-line>Igor</span>
        </mat-list-item>

      </mat-list>

    </div>

    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>
  </div>

  <div class="main_body" fxLayout="row" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>

    <div class="side_left" fxFlex="15%" fxHide.lt-sm>
      <app-left-body-menu></app-left-body-menu>
    </div>
    <div class="side_center" fxFlex fxFlex.lt-sm="100%">
      <app-user-presentation-component></app-user-presentation-component>
    </div>
    <div class="side_right" fxFlex="15%" fxHide.lt-sm>
      <app-right-body-menu></app-right-body-menu>
    </div>

    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>
  </div>

</div>



