
.container{

}

.header{
  background-color: slategray;
  color: white;
}


.header mat-list{
  padding: 0px;
}

.main_body{
font-size: 10pt;
}
.main_body > .side_left{
  background-color:  #fbfbfb;
}
.main_body > .side_center{
  background-color: white;
}
.main_body > .side_right{
  background-color: white;
}


