<!--The content below is only a placeholder and can be replaced.-->

<div class="container"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">

  <div class="header" fxLayout="row" fxLayoutGap="10px">
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>
    <div class="side1" fxFlex="15%"></div>
    <div class="side2" fxFlex="15%"></div>
    <div class="side3" fxFlex>
      <md-list>
        <md-list-item>
          <md-icon md-list-icon>people</md-icon>
          <span md-line>Igor</span>
        </md-list-item>

      </md-list>

    </div>
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>

  </div>

  <div class="main_body" fxLayout="row" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px">
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>
    <div class="side1" fxFlex="15%" fxHide.lt-sm>
      <app-left-body-menu></app-left-body-menu>
    </div>
    <div class="side2" fxFlex fxFlex.lt-sm="100%">

    </div>
    <div class="side3" fxFlex="15%" fxHide.lt-sm>
      <app-right-body-menu></app-right-body-menu>
    </div>
    <div class="side_space" fxFlex.lt-md="0%" fxFlex.md="5%" fxFlex.lg="10%" fxFlex.lg="15%"></div>
  </div>
</div>



